{% load static %}

<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
</head>
<body>
    
    <div class="container">
        <h1>Feedback</h1> <!-- Heading is at the top -->
        <table>
            <thead>
                <tr>
                    <th>user</th>
                    <th>feedback</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in a %}
                <tr>
                    <td>{{i.user.name}}</td>
                    <td>{{i.feedback}}</td>
                    <td>{{i.date}}</td>
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>