{% load static %}

<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Feedback</title>
    <link rel="stylesheet" href="{% static 'css/viewuser.css' %}">
</head>
<body>
    <div class="container">
        <h1>view users</h1> <!-- Heading for the page -->
        <table>
            <thead>
                <tr>
                    <th>user id</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>address</th>
                </tr>
            </thead>
            <tbody>
                {% for i in a %}
                <tr>
                    <td>{{i.userid}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.address}}</td>
                    
                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>