*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: medium;
    align-items: center;
    background-image: url('https://img.freepik.com/free-vector/gradient-background-wave-minimalist-style_483537-3734.jpg?t=st=1726912107~exp=1726915707~hmac=23fbd115dc1cc7e3267f8e7d120a7b856d71e2d90c896189f74dd8d72118a98b&w=1060');
    background-repeat:no-repeat;
    background-size:cover;
    backdrop-filter: blur(7px);
    overflow: hidden;
}

.card{
    max-width: 600px;
    background-color: rgba(238, 235, 235, 0.826);
    padding: 30px;
   border-radius: 10px ; 
   border: 0px solid rgb(247, 246, 246);
   box-shadow: 0  8px 8px rgba(10, 10, 10, 0.457);
  
} 

input{
    background-color: transparent;
    padding:8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    
}

input:focus{
    outline: none;
}


#rushfida{
    background-color: rgba(228, 232, 227, 0);
    padding: 8px;
    width: 100%;
    transition: 0.5s ease;
    border: 1px solid black;

}
#rushfida:hover{
    background-color:aquamarine;
    color: black;
    border: 1px dashed black;
}
h1 {
    text-align:center;
    margin-bottom: 10px
}

table{
    border-collapse: collapse;
    
}

th, td{
    padding: 20px;
    border: 1px solid black;
}
td{
    text-align: center;
}

a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  


a:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803,
                0 0 25px #bd9d0b,
                0 0 50px #f4e403,
                0 0 100px #d5cf1e;
  }
  
   a span {
    position: absolute;
    display: column;
  }
  
  a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4c003);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4bc03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
   a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4dc03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4b003);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  