<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="shopregistration.css">
    
</head>
<body>
    <div class="card">
        <form>
            <h1>ration shop sign up
            </h1>
<div><label>
shop owner name
</label>
<input type="text" name="" id="" placeholder="enter your  name"></div>
<div><label>
shop address
</label>
<input type="text" name="" id="" placeholder="enter your Email address"></div>
<div><label>
Phone number
</label>
<input type="text" name="" id="" placeholder="enter Phone number"></div>
<div><label>
shop id
</label>
<input type="text" name="" id="" placeholder="enter your Card number"></div>
<div><label>
Password
</label>
<input type="password" name="" id=""placeholder="enter your password"></div>
<div><input type="submit" value="sign up" id="rushfida"></div>

    </form>
    </div>
</body>
</html>