<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="addandmanageproduct.css">
</head>
<body>
    <div class="container">
        <h1>ADD & UPDATE PRODUCT</h1> <!-- Heading is at the top -->
        <table border="1">
            <thead>
                <tr>
                    <th>shop name</th>
                    <th>shop product</th>
                    <th>product price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>