{% load static %}

<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
    <link rel="stylesheet" href="{% static 'css/complaint.css' %}">
</head>
<body>
    <div class="container">
        <h1>Complaint</h1>
        <!-- Table displaying complaints -->
        <table>
            <thead>
                <tr>
                    <th> USER</th>
                    <th>complaint</th>
                    <th>date & time</th>
                    <th>reply</th>
                </tr>
            </thead>
            <tbody>
                {% for i in a %}
                <tr>
                    <td>{{i.user}}</td>
                    <td>{{i.complaint}}</td>
                    <td>{{i.datetime}}</td>
                    <td><a href="/complaintreply/{{i.id}}" class="reply-btn">Reply</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</body>
</html>