* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: medium;
    align-items: center;
    background: linear-gradient(130deg, #fafafd, #262627);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
    overflow: hidden;
}

.card {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.826);
    padding: 30px;
    border-radius: 10px;
    border: 0px solid rgb(247, 246, 246);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.457);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    background-color: transparent;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

#rushfida {
    background-color: rgba(228, 232, 227, 0);
    padding: 8px;
    width: 100%;
    transition: 0.5s ease;
    border: 1px solid black;
    margin-top: 20px;
}

#rushfida:hover {
    background-color: none;
    color: black;
    border: 1px dashed black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

div {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}
