*{
    padding: 0%;
    box-sizing: border-box;
    margin:0%;
    
}

.one{
    background-color: rgb(0, 0, 0);
    width: 1080px;
   height: 50px;
    
}

.links{
    
   margin-left: 800px;
   height: 50px;
   align-items: center;
   padding-left: ;
   padding-right: ;
   padding-top: 15px;
   padding-bottom: ;
   border-radius: 5px;
}

.feedback{
}

.two{
    background-image: url('https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    backdrop-filter: blur (20px);
    background-repeat:no-repeat;
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1080px;
    height: 900px;
    
    
    
}
.three{
    height: 90px;
    width: 90px;
    background-color: rgb(246, 250, 253);
    margin-left: 135px;
    margin-top: 130px;
    margin-bottom: ;
    margin-right: 135px;
    padding-top: 20px;
    white-space: 40px;
    border-radius: 10px ; 
    text-align: center;
    text-justify: inter-cluster;
}
a{
    text-decoration: color black;
    color: black;

}